{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}inspirit{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/vendors/jquery.easings.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/vendors/jquery.slimscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage();
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

  <body>
<div id="fullpage">
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-1.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-2.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-3.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-4.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-5.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-6.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-7.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-8.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-9.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-10.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-11.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-12.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-13.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-14.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-15.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-16.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-17.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-18.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-19.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-20.jpg' %}">
    </div>
    <div class="section">
        <img class="img-responsive center-block" src="{% static 'images/11-12-21.jpg' %}">
    </div>


</div>
  </body>

</html>